<% layout('layout/root')%>

<h1>Register Page</h1>

<form action="/auth/register" method="POST">
    Username: <input type="text" name="username" id=""> <br>
    Email: <input type="text" name="email" id=""> <br>
    Password: <input type="text" name="password" id=""> <br>
    <button type="submit">Register</button>
</form>