<link rel="stylesheet" href="/css/footer.css">

<footer class="footer fixedbottom">
    <div class="has-text-left">
        <p class="smallfont">
            &copy;michac789
        </p>
    </div>
</footer>