<script src="/js/navbar.js"></script>
<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar is-info" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="maintitle">
                <div class="mainicon">
                    <i class='fab fa-blogger-b'></i>
                </div>
            </span>
        </a>

        <% if (user) { %>
            <a class="navbar-item ml-2" href="/profile/<%= user.username %>">
                <i class='fas fa-user-circle mr-3 profilecol medsize'></i>
                <span>
                    <strong class="profilecol">
                        <%= user.username %>
                    </strong>
                </span>
            </a>
        <% } else { %>
            <a class="navbar-item ml-2" href="/auth/login">
                <i class='fas fa-user-alt-slash mr-3 profilecol medsize'></i>
                <span>
                    <strong class="profilecol">
                        Not Logged In
                    </strong>
                </span>
            </a>
        <% } %> <br>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/blog">
                Blogs
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>
    
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/about">
                        About
                    </a>
                    <a class="navbar-item" href="https://github.com/michac789/BloggerPost" target="_blank">
                        View Source Code
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/michac789/BloggerPost/issues/new" target="_blank">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <% if (user) { %>
                        <a class="button is-danger is-light" href="/auth/logout">
                            Logout
                        </a>
                    <% } else { %>
                        <a class="button is-primary" href="/auth/register">
                            Sign up
                        </a>
                        <a class="button is-light" href="/auth/login">
                            Log in
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>
