<% layout('layout/root')%>

<h1 class="title is-1">Home Page - TODO</h1>

<div class="notification is-primary">
    This container is <strong>centered</strong> on desktop and larger viewports.
</div>

<div class="notification is-danger">
    This container is <strong>centered</strong> on desktop and larger viewports.
</div>