<% layout('layout/root') %>

<h1>Create Page - TODO</h1>

<span class="icon">
    haa
    <i class="fas fa-home"></i>
</span>

<form action="/blog/create" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">
    <%- include('../partials/blogform', {
        title: "", content: "",
        submitMsg: "Create", submitClass: "is-primary",
        cancelLink: "/blog",
    }) %>
</form>
