<% layout('layout/root')%>

<h1>Edit Page - TODO</h1>

<form action="/blog/<%= blog.id %>?_method=PUT" method="POST">
    <%- include('../partials/blogform', {
        title: blog.title, content: blog.content,
        submitMsg: "Update", submitClass: "is-success",
        cancelLink: `/blog/${blog.id}`,
    }) %>
</form>

<a href="/blog/<%= blog.id %>">
    Cancel
</a>
